<h1>Einladungen</h1>

<div>
  <button mat-raised-button color="primary" (click)="createInvitation()">Einladung erstellen</button>
</div>
<div>
  <mat-checkbox [(ngModel)]="OnlyShowOwnInvitations" >Zeige nur Einladungen, die von mir erstellt wurden</mat-checkbox>
  <mat-checkbox [(ngModel)]="OnlyShowNonAcceptedInvitations">Zeige nur nicht angenommene Einladungen</mat-checkbox>

  <button mat-raised-button (click)="loadData()" color="accent">Filter anwenden</button>
</div>

<mat-divider style="margin-top: 16px; margin-bottom: 16px"></mat-divider>

<div *ngIf="getAllInvitationResponse != undefined; else loader" style="display: flex; flex-wrap: wrap;">
  <mat-card *ngFor="let invitation of getAllInvitationResponse.invitations" class="invitation-card">
    <mat-card-content>
      <mat-card-title>Einladungen</mat-card-title>
      <mat-card-subtitle>Status: {{ getStatusText(invitation) }}</mat-card-subtitle>
      <mat-divider style="margin-top: 8px; margin-bottom: 8px;"></mat-divider>
    </mat-card-content>
    <mat-card-content>
      Erstellt am: {{ invitation.createdAt | date: "dd.MM.yyyy HH:mm" }} <br>
      Gültig bis: {{ invitation.expiresAt | date: "dd.MM.yyyy" }} <br>
      Erstellt von {{ invitation.createdBy?.fullname }} <br>
      <span style="margin-bottom: 8px; margin-top: 8px">Typ: {{ getTypeText(invitation) }}</span>

      <mat-divider style="margin-top: 8px; margin-bottom: 8px;"></mat-divider>
    </mat-card-content>
    <mat-card-content *ngIf="getStatusText(invitation) == 'Angenommen'">
      <p>Angenommen am: {{ invitation.acceptedAt | date: "dd.MM.yyyy hh:mm" }}</p>
      <p>Durch {{ invitation.acceptedBy?.fullname }} Organisation: {{ invitation.acceptedBy?.organization?.name }}</p>
    </mat-card-content>
    <mat-card-content *ngIf="getStatusText(invitation) == 'Abgelaufen'">
      <p>Die Einladung wurde nicht angenommen</p>
    </mat-card-content>
    <mat-card-content *ngIf="getStatusText(invitation) == 'Offen'">
      <button mat-raised-button color="primary" (click)="downloadInvitationPdf(invitation.id)"
              [disabled]="isDisabled(invitation.id)" style="margin-top: 16px">Einladung herunterladen
      </button>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
