<form [formGroup]="createReservationFormGroup" class="formgroup" *ngIf="vehicles !== undefined; else loader">
  <h2>Fahrzeug reservieren</h2>
  <mat-form-field style="width: 100%">
    <mat-label>Reservierungszeitraum auswählen</mat-label>
    <mat-date-range-input [rangePicker]="picker" separator="bis">
      <input matStartDate placeholder="Start" (focus)="picker.open()" formControlName="startDate">
      <input matEndDate placeholder="Ende (inklusive)" (focus)="picker.open()" formControlName="endDate">
    </mat-date-range-input>
    <mat-hint>DD.MM.YYYY bis DD.MM.YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field style="margin-top: 32px; display: block">
    <mat-label>Fahrzeug</mat-label>
    <mat-select formControlName="requestedVehicleId">
      <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
        {{ vehicle.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="margin-top: 32px; display: block">
    <mat-label>Grund</mat-label>
    <input matInput formControlName="reason" />
  </mat-form-field>

  <div style="display: block; margin-top: 32px">
    <h3>Verfügbarkeit</h3>
    <ng-container *ngIf="createReservationFormGroup.status == 'PENDING'">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      Verfügbarkeit wird geprüft...
    </ng-container>
    <ng-container *ngIf="createReservationFormGroup.status == 'VALID'">
      Fahrzeug ist im gewählten Zeitraum verfügbar.
    </ng-container>
    <ng-container *ngIf="createReservationFormGroup.hasError('validationErrors')">
    <mat-error *ngFor="let error of localizeValidationErrors()">
      {{error}}
    </mat-error>
    </ng-container>
  </div>



  <button style="margin-top: 32px" mat-raised-button color="primary" type="submit" (click)="createReservation()"
          [disabled]="!createReservationFormGroup.valid">Reservieren
  </button>

  <mat-error *ngIf="errorText != ''" style="margin-top: 16px">
    {{errorText}}
  </mat-error>
</form>

<ng-template #loader style="display: flex; justify-content: center; align-items: center;">
  <div>
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
