<div style="display: flex; justify-content: center; align-items: center; height: 89vh;">
  <div style="padding: 32px; background: #f0f0f0; border-radius: 8px;">
    <h1>Account erstellen</h1>

    <form [formGroup]="acceptInvitationFormGroup" class="formgroup" *ngIf="!isSuccessful; else success">
      <mat-form-field class="input">
        <mat-label>Token</mat-label>
        <input matInput formControlName="token"/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="firstname"/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="lastname"/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Organization</mat-label>
        <input matInput formControlName="organization"/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>Telefonnummer</mat-label>
        <input matInput formControlName="phoneNumber" type="tel"/>
      </mat-form-field>

      <mat-form-field class="input">
        <mat-label>E-Mail</mat-label>
        <input matInput formControlName="email" type="email"/>
      </mat-form-field>

      <mat-error *ngIf="errorText != '' && !isLoading">
        {{errorText}}
      </mat-error>

      <mat-divider style="margin-top: 16px; margin-bottom: 16px"></mat-divider>


      <button mat-raised-button color="primary" (click)="click()" [disabled]="!acceptInvitationFormGroup.valid || isLoading">Account erstellen</button>

      <div *ngIF="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        Account wird erstellt...
      </div>
    </form>
  </div>
</div>

<ng-template #success>
  <h2>Registierung erfolgreich</h2>
  <p>Dein Account wurde angelgt. Du erhälst in kürze eine E-Mail zum setzen deines Passworts. </p>
  <p>Anschließend kannst du dich mit deiner E-Mail-Adresse und deinem Passwort anmelden.</p>
  <p>Hinweis: Das Empfangen der E-Mail kann in Ausnahmefällen bis zu 60 Minuten dauern.</p>

  <button mat-raised-button color="primary" routerLink="/calendar">Startseite</button>
</ng-template>
