<div style="display: flex; justify-content: center; align-items: center; height: 89vh;">

  <div style="padding: 32px; background: #f0f0f0; border-radius: 8px;">
    <h1>Login</h1>
    <form [formGroup]="loginFormGroup">
      <mat-form-field style="display: block; min-width: 25vw">
        <mat-label>E-Mail</mat-label>
        <input matInput placeholder="user@example.com" formControlName="email" required>
      </mat-form-field>

      <mat-form-field style="display: block">
        <mat-label>Passwort</mat-label>
        <input type="password" matInput formControlName="password" required>
      </mat-form-field>

      <mat-divider style="margin-top: 16px; margin-bottom: 16px"></mat-divider>

      <button (click)="login()" color="primary" mat-raised-button
              [disabled]="!loginFormGroup.valid || status == 'loading'">Einloggen
      </button>

      <mat-error *ngIf="status == 'error'">Falsche E-Mail oder Passwort!</mat-error>
    </form>
  </div>
</div>
