<h1>Login</h1>
<form [formGroup]="loginFormGroup">
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="user@example.com" formControlName="email" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input type="password" matInput formControlName="password" required>
  </mat-form-field>

  <button (click)="login()" color="primary" mat-raised-button [disabled]="!loginFormGroup.valid || status == 'loading'">Einloggen</button>

  <mat-error *ngIf="status == 'error'">Falsche E-Mail oder Passwort!</mat-error>
</form>
