<h1>Kalendar</h1>

<button mat-raised-button color="primary" (click)="createReservation()">Reservierung anlegen</button>

<full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>


<!--<p-dialog header="Reservierung anlegen" [modal]="true" [(visible)]="modalVisible" [style]="{width: '50vw', height: '20vw'}">-->
<!--    <h2>Neue Reservierung anlegen</h2>-->

<!--    <form [formGroup]="createReservationFormGroup">-->
<!--        Startdatum (inklusive): <br>-->
<!--        <p-calendar formControlName="startDate" />-->

<!--        <br><br>-->

<!--        Enddatum (inklusive): <br>-->
<!--        <p-calendar formControlName="endDate" />-->
<!--    </form>-->
<!--</p-dialog>-->
