<h1>Reservierungen</h1>
<!--<h3>{{authService.getUser()?.fullname ?? ""}} ({{authService.getUser()?.organization ?? ""}})</h3>-->
<p>
  Eine Reservierung kann über das Auswählen der Daten im Kalendar, oder über den Schaltfläche "Reservierung anlegen" erstellt werden. <br>
  Reservierung im Kalender anklicken, um Details anzuzeigen. <br>
  Eigene Reservierungen können dort ebenfalls gelöscht werden.
</p>

<button mat-raised-button color="primary" (click)="createReservation()">Reservierung anlegen</button>

<mat-divider style="margin-top: 32px; margin-bottom: 32px;"></mat-divider>

<full-calendar [options]="calendarOptions" [deepChangeDetection]="true" style="max-height: 65vh"></full-calendar>
