<mat-form-field style="display: block;" [(ngModel)]="reason" name="fieldName" ngDefaultControl>
  <mat-label>Begründung (optional)</mat-label>
  <textarea matInput placeholder="Begründung (optional)"></textarea>
</mat-form-field>

<div style="display: flex; justify-content: space-between;">
  <button mat-raised-button color="warn" (click)="setStatusOfReservation(ReservationStatusEnum.Denied)">Ablehnen</button>
  <button mat-raised-button color="primary" (click)="setStatusOfReservation(ReservationStatusEnum.Confirmed)">Akzeptieren</button>
</div>
