<h1>Diese Seite wurde nicht gefunden</h1>
<h2>Bitte warten...</h2>
<mat-progress-spinner mode="indeterminate">
</mat-progress-spinner>
<!--<div id="grid-container">-->
<!--  <mat-card class="card" *ngFor="let quickAction of quickActions">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title-group>-->
<!--        <mat-card-title>Shiba Inu</mat-card-title>-->
<!--&lt;!&ndash;        <mat-card-subtitle>Medium</mat-card-subtitle>&ndash;&gt;-->
<!--&lt;!&ndash;        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">&ndash;&gt;-->
<!--      </mat-card-title-group>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      {{longText}}-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
