<h1>Fahrtenbuch</h1>

<div>
  Hier kann für jedes Fahrzeug das Fahrtenbuch eingesehen werden. Außerdem können manuell Fahrten hinzugefügt werden.
</div>

<button style="margin-top: 16px" mat-raised-button color="primary" (click)="createNewEntry()">Neuen Eintrag hinzufügen</button>

<mat-form-field style="margin-top: 32px; display: block">
  <mat-label>Fahrzeug</mat-label>
  <mat-select [(value)]="selectedVehicle" (selectionchange)="loadLogbook(selectedVehicle)">
    <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
      {{ vehicle.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="logbookEntries; else loader">
  <table mat-table [dataSource]="logbookEntries" *ngIf="logbookEntries.length > 0; else noEntries">

    <!-- ID Column -->
    <ng-container matColumnDef="currentNumber">
      <th mat-header-cell *matHeaderCellDef>Laufende Nummer</th>
      <td mat-cell *matCellDef="let entry"> {{ entry.currentNumber }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Beschreibung</th>
      <td mat-cell *matCellDef="let entry"> {{ entry.description }}</td>
    </ng-container>

    <!-- KM Column -->
    <ng-container matColumnDef="endMileageInKm">
      <th mat-header-cell *matHeaderCellDef>Kilometerstand</th>
      <td mat-cell *matCellDef="let entry"> {{ entry.endMileageInKm }} km</td>
    </ng-container>

<!--    &lt;!&ndash; Origin Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="origin">-->
<!--      <th mat-header-cell *matHeaderCellDef> Origin</th>-->
<!--      <td mat-cell *matCellDef="let entry"> {{ entry.origin }}</td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Destination Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="destination">-->
<!--      <th mat-header-cell *matHeaderCellDef> Destination</th>-->
<!--      <td mat-cell *matCellDef="let entry"> {{ entry.destination }}</td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #noEntries>
  <h3>Keine Einträge für das gewählte Fahrzeug vorhanden vorhanden</h3>
</ng-template>
