<div style="margin: 32px">
  <ng-container *ngIf="reservation == undefined">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    Reservierungsdetails laden...
  </ng-container>
  <ng-container *ngIf="reservation">
    <h2>Status: {{getStatusText()}}</h2>
    <h2>Reservierungsdetails</h2>
    Fahrzeug: {{ reservation.reservation.vehicleReserved?.name }} <br>
    Startdatum: {{ reservation.reservation.startDateInclusive | date: "dd.MM.YYYY" }} <br>
    Enddatum: {{ reservation.reservation.endDateInclusive | date: "dd.MM.YYYY" }} <br><br>
    Reserviert für: {{ reservation.reservation.reservationMadeByUser?.organization }} <br>
    Reserviert von: {{ reservation.reservation.reservationMadeByUser?.fullname }} <br>
    Reservierung erstellt am: {{ reservation.reservation.reservationCreated | date: "dd.MM.YYYY HH:mm" }} <br>

    <ng-container *ngIf="canDelete">
      <mat-divider style="margin-top: 16px; margin-bottom: 16px"></mat-divider>
      <button mat-raised-button color="warn" (click)="delete()">Löschen</button>
    </ng-container>
  </ng-container>

</div>
